h1 {
    font-size:2.25rem;
    line-height:1;
}

h2 {
    font-size: 1.75rem;
}
h3,.h3{
    font-size:1.5rem;
}
p, li {
    font-size: 1.25rem;
    @media only screen and (max-width:767px) {
        font-size:1.10rem;
    }
}


.text-accent {
    color:var(--accent-primary);
}
.text-secondary {
    color:var(--accent-secondary);
}

.text-shadow {
    text-shadow:var(--text-shadow);
}